<button class="btn btn-primary" (click)="toggleDisplay()">Display Password</button>
<p *ngIf="display">Secret Password = anything</p>
<div 
  *ngFor="let item of log; let i = index"
  [ngClass]="{'white-font': i > 4}"
  [ngStyle]="{backgroundColor: i > 1 ? 'blue': 'transparent'}">{{ item }}</div>